<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <br>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Update User</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Add new</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Update">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Delete">Delete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Activate">Activate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Deactivate">Deactivate</a>
      </li>
    </ul>
  </div> 
</nav>
  <h2>Update Data</h2>
  <form action="/UpdateUser" method="POST">
    <div class="form-group">
      <label for="name">Enter ID:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter ID" name="_id" required>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter First name" name="FName" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Enter Middle name" name="MName" >
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Enter Last name" name="LName" >
    </div>
    <div class="form-group">
        <label for="city">Mobile No:</label>
        <input type="text" class="form-control" id="city" placeholder="Enter Mobile No" name="Mobile_No">
      </div>
    <div class="form-group">
      <label for="city">Age:</label>
      <input type="text" class="form-control" id="city" placeholder="Enter your age" name="Age">
    </div>
    <div class="form-group">
      <label for="city">Stream:</label>
      <input type="text" class="form-control" id="city" placeholder="Enter Stream" name="Stream">
    </div>
    <div class="form-group">
      <label for="city">Email ID:</label>
      <input type="text" class="form-control" id="city" placeholder="Enter Email ID" name="Email_ID">
    </div>
    <div  class="form-group">
      <label for="city">Country:</label><br>
        <select id="selCountry" name="Country">
          <option selected value="">-- Choose the Country --</option>
          <option value="India">India</option>
          <option value="Japan">Japan</option>
          <option value="USA">USA</option>
          <option value="Australia">Australia</option>
          <option value="Russia">Russia</option>
        </select>
      </div><br>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/index" class="btn btn-success" role="button">cancel</a>
  </form><br>

</div>

</body>
</html>